<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkWithPicture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkWithPicture.Properties.Settings>
            <setting name="Nick" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="WaveRate" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="WaveBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="WaveBufferSize" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="UseMicrophoneAsDefaultInputDevice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
        </WorkWithPicture.Properties.Settings>
    </userSettings>
</configuration>